{% extends 'base.html' %}

{% block title %} {{ block.super }} Password Reset Success {% endblock %}

{% block body %}
	{{ block.super }}
	<div class="container">
		<div class="row pod-wrap">
			<div class="col-md-6 offset-md-3">
				<div class="auth-form">
					<h4>Thank you!</h4>
					<p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
					<p>If you don't receive an email, please make sure you've entered the address you registered with,
						and check your spam folder.</p>
					<p>Click <a href="{% url 'home' %}">here</a> to go back to the Homepage.</p>
				</div>
            </div>
         </div>
	</div>
{% endblock %}

