{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} Password Reset{% endblock %}

{% block body %}
	{{ block.super }}
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="auth-form">

					<h4> Forgot your password?</h4>

					<p> Enter your email address below,
						and we'll email instructions for setting a new one.
					</p>

					<form id="pwdResetForm" action="" method="post" role="form">
						{% crispy form %}
					</form>

					<div>
						<input type="submit"
							   form="pwdResetForm"
							   class="button btn btn-primary" />
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}

