{% extends 'home.html' %}

{% block title %} Thank You !{% endblock %}

{% block main %}
	{{ block.super }}
	<div class="container">
		<div class="row pod-wrap">
			<div class="form-wrapper col-md-6 col-md-offset-3">
				<form class="sky-form" action="{% url 'password_change' %}" method="post" role="form">
					<header>
						<h5>Password Reset</h5>
						<p> Please enter your old password, for security's sake, and then enter your new password
							twice so we can verify you typed it in correctly.
						</p>
					</header>
					{% csrf_token %}

					<fieldset>
						<section>
							<label class="label" for="id_old_password">Old password: <span class="required-star">*</span></label>
								<label class="input {% if form.old_password.errors %}state-error{% endif %}">
									<input type="password" id="id_old_password" placeholder="Old password"
										   name="old_password">
								</label>
							<div class="note note-error">{{ form.old_password.errors }}</div>
						</section>

						<section>
							<label class="label" for="id_new_password1">New password: <span class="required-star">*</span></label>
								<label class="input {% if form.new_password1.errors %}state-error{% endif %}">
									<input type="password" id="id_new_password1" placeholder="New password"
										   name="new_password1">
								</label>
							<div class="note note-error">{{ form.new_password1.errors }}</div>
						</section>

						<section>
							<label class="label" for="id_new_password2">New password confirmation: <span class="required-star">*</span></label>
								<label class="input {% if form.new_password2.errors %}state-error{% endif %}">
									<input type="password" id="id_new_password2" placeholder="New password confirmation"
										   name="new_password2">
								</label>
							<div class="note note-error">{{ form.new_password2.errors }}</div>
						</section>
					</fieldset>

					<div class="form-footer no-bg">
						<button type="submit" class="button btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
    	</div>
	</div>
{% endblock %}
