{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} New Password {% endblock %}

{% block body %}
	{{ block.super }}
	<div class="container">
		<div class="col-md-8 offset-md-2">
			<div class="auth-form">
				{% if validlink %}
					<h4>Reset your password</h4>

					<form id="pwdConfimrForm" action="" method="post" role="form">
						{% crispy form %}
					</form>

					<div>
						<input type="submit"
							   form="pwdConfimrForm"
							   class="button btn btn-primary" />
					</div>
				{% else %}
					<p>The password reset link was invalid, possibly because it has already been used. Please request a new
						<a href="{% url 'password_reset' %}">password reset.</a>
					</p>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}
