@import './_colors';
@import './_variables';
@import './_mixins';
@import './typography';
@import './navbar';
@import './forms';
@import './button';
@import './alert';

html,body{
	position: relative;
	min-height: 100%;
	box-sizing: border-box;

	background-color:@body-background !important;

	color: @base-font-color !important;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-wrap{
	margin-top:1em;
	padding:.5em;
	background-color:@white;
	.pod-border();
}
