{% load static %}
<header>
	<nav class="navbar navbar-toggleable-md navbar-inverse">
		<a class="navbar-brand" href="#"> USIAS </a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="{% url 'home' %}"
					   class="btn btn-default navbar-btn" >Home</a>
				</li>
			</ul>
			<ul class="navbar-nav navbar-right">
			{% if not user.is_authenticated %}
				<li>
					<a href="{% url 'login' %}"
					   class="btn btn-default navbar-btn">Login</a>
				</li>
			{% else %}
				<li class="account-nav-item dropdown">
					<a class="nav-link dropdown-toggle"
					   href="http://example.com"
					   id="accountDropdownMenuLink"
					   data-toggle="dropdown"
					   aria-haspopup="true"
					   aria-expanded="false">
					  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
						{{ user.get_full_name }}
					</a>
					<div class="dropdown-menu" aria-labelledby="accountDropdownMenuLink">
						<a class="dropdown-item" href="{% url 'logout' %}">
							Logout
						</a>
					</div>
				  </li>
			{% endif %}
			</ul>
		</div>
	</nav>
</header>